REDDIT_CLIENT_ID=your_reddit_client_id
REDDIT_CLIENT_SECRET=your_reddit_client_secret
REDDIT_AD_ACCOUNT_ID=a2_ijveiud61gye
GCP_PROJECT_ID=looker-studio-pro-452620
BQ_DATASET_ID=landing
BQ_TABLE_ID=reddit-api
