[submodule "mft"]
	path = mft
	url = https://github.com/genetsen/mft.git
	ignore = all
[submodule "olipop"]
	path = olipop
	url = https://github.com/genetsen/olipop.git
	ignore = all
[submodule "Reddit"]
	path = Reddit
	url = https://github.com/genetsen/reddit.git
[submodule "Reddit"]
	path = Reddit
	url = https://github.com/genetsen/reddit.git
	ignore = all
[submodule "Prisma"]
	path = Prisma
	url = https://github.com/genetsen/prisma.git
	ignore = all
[submodule "wp"]
	path = wp
	url = https://github.com/genetsen/wp.git
	ignore = all
